.q-second-button
  --v-btn-height: 75px
  font-family: "Raleway"
  font-size: 16px
  font-weight: 600
  background-color: unset
  border-radius: unset
  border: 1px solid $color-yellow-1
  color: $color-white
  &:hover, &:active, &:focus
    color: $color-white
    border-color: $color-white
  &:disabled
    color: $color-black
    background-color: unset
    border-color: unset
    &:hover, &:active, &:focus
      color: $color-black
      border-color: unset
    