$color-white: #FFFFFF
$color-black: #202020
$color-gray: #BAC0C7
$color-yellow-1: #FFD12E
$color-yellow-2: #CAA217
$color-red: #FF574E

$color-primary: #5ED5A8
$color-secondary: #43A6FD
$color-subtext: #2C5D96

$color-background-1: #001529
$color-background-2: #181D3B
$color-background-3: #D9D9D914

$color-border-color: #2E3548