.q-header
  display: grid
  grid-template-columns: auto min-content
  gap: 15px
  &_small
    @include card
  &_middle
    grid-template-columns: min-content auto min-content
  &_large
    margin: 30px 100px 0px 100px

  &__menu
    &_large
      @include card

  &__setting
    &_large
      @include card