.q-menu
  &-list
    display: grid
    grid-template-columns: repeat(6, auto)
  &-item
    padding: 0px 20px
    cursor: pointer
    display: grid
    color: $color-white
    grid-template-columns: min-content max-content
    align-items: center
    border-right: 1px solid rgba(255, 255, 255, 0.15)
    &:last-child
      border-right: unset
    &__icon
      height:36px
      width: 36px

  &__short
    display: block
    padding: 20px 30px

  &__large
    display: grid
    grid-template-columns: min-content max-content
    justify-content: space-between
    padding: 20px 30px