.q-menu
  display: grid
  grid-template-columns: repeat(6, auto)
  &-item
    cursor: pointer
    display: grid
    color: $color-white
    grid-template-columns: min-content max-content
    align-items: center
    &__icon
      height:36px
      width: 36px