.q-trade-module
  display: grid
  gap: 15px

  &_small
    grid-template-columns: auto
  &_middle
    grid-template-columns: auto
  &_large
    grid-template-columns: auto min-content

  &-control
    display: grid
    grid-template-columns: repeat(2, auto)
    gap: 15px
    &-right-bar
      display: grid
      grid-template-rows: repeat(2, auto)
      gap: 45px

  .hidden
    display: none