.layout-main
  height: 100dvh
  display: grid
  grid-template-rows: min-content auto min-content
  gap: 15px
.container
  padding: 20px
  margin: 0px 100px

@include x-small-layout
  .container
    margin: unset